section {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin: 2em 0 1em;
  font-size: 2em;
  font-weight: normal;
}

.slogan {
  font-size: 2em;
  font-weight: normal;
  color: #999;
  margin-bottom: 20px;

  b {
    color: #777;
    font-weight: normal;
  }

  p {
    margin: 0;
  }
}


form {
  display: flex;
  flex-flow: column;

  input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin: 10px 0;
    font-size: 1em;
    outline: none;

    &:focus {
      border-bottom-color: #15bd97
    }
  }

  button {
    text-align: left;
    font-size: 1.2em;
    color: #15bd97;
    margin-top: 20px;
    padding-left: 0;
    background: #fff;
  }
}
